= simple_form_for(@present_entry) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: { class: 'input-short' }
    = f.input :address, input_html: { class: 'input-long' }
    = f.input :email, input_html: { class: 'input-long' }
    = f.input :mobile_phone_number, input_html: { class: 'input-short' }

  .form-actions
    = f.button :submit, '次に進む', class: 'btn btn-primary'
