%h1= "#{PresentEntry.model_name.human}ã®#{t 'view.base.edit'}"

= render 'form'

.nav-links
  = link_to t('view.base.back_to_show'), @present_entry
  \|
  = link_to t('view.base.back_to_index'), present_entries_path
