%h1= "#{PresentEntry.model_name.human}一覧"

.new-link= link_to t('view.base.new'), new_present_entry_path

%table.table.table-bordered
  %tr
    %th= PresentEntry.human_attribute_name :name
    %th= PresentEntry.human_attribute_name :address
    %th= PresentEntry.human_attribute_name :mobile_phone_number
    %th= PresentEntry.human_attribute_name :email
    %th
    %th
    %th

  - @present_entries.each do |present_entry|
    %tr
      %td= present_entry.name
      %td= present_entry.address
      %td= present_entry.mobile_phone_number
      %td= mail_to present_entry.email
      %td= link_to t('view.base.show'), present_entry
      %td= link_to t('view.base.edit'), edit_present_entry_path(present_entry)
      %td= link_to t('view.base.destroy'), present_entry, :method => :delete, :data => { :confirm =>  t('view.base.confirm')}
