!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Twilio SMS Verification Sample"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"

  %body
    .navbar.navbar-fluid
      .navbar-inner
        .container
          = link_to "Twilio SMS Verification Sample", root_path, class: "brand"
          .container.nav-collapse
            %ul.nav
              %li= link_to "#{PresentEntry.model_name.human}一覧", present_entries_path

    .container
      .row-fluid
        .span12
          = render "layouts/flash"
          = yield
      %footer
        %p
          &copy;
          = link_to 'Junichi Ito', 'https://github.com/JunichiIto'
          2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
